%footer.all-footer
  %ul.all-footer__contents
    %li.footer-content
      %h2.footer-head
        FURIMAについて
      %ul.footer-list
        %li.footer-list__button
          =link_to "会社概要（運営会社）","#",class: "footer-list__button__link"
        %li.footer-list__button
          =link_to "プライバシーポリシー","#",class: "footer-list__button__link"
        %li.footer-list__button
          =link_to "FURIMA利用規約","#",class: "footer-list__button__link"
    %li.footer-content
      %h2.footer-head
        FURIMAを見る
      %ul.footer-list
        %li.footer-list__button
          =link_to "カテゴリー一覧","#",class: "footer-list__button__link"
        %li.footer-list__button
          =link_to "ブランド一覧","#",class: "footer-list__button__link"
    %li.footer-content
      %h2.footer-head
        ヘルプ＆ガイド
      %ul.footer-list
        %li.footer-list__button
          =link_to "FURIMAガイド","#",class: "footer-list__button__link"
        %li.footer-list__button
          =link_to "FURIMAロゴ利用ガイドライン","#",class: "footer-list__button__link"
        %li.footer-list__button
          =link_to "お知らせ","#",class: "footer-list__button__link"
  .all-footer__logo
    =link_to image_tag("logo/logo-white.png",class: "footer-logo__image"),"#",class: "footer-logo" 
  %p.copyright
    © FURIMA