.input-bottom
  %ul.linput-bottom__nav
    %li.nav プライバシーポリシー
    %li.nav フリマ利用規約
    %li.nav 特定商引取に関する表記
  .input-bottom__icon
    = image_tag('logo/logo-white.png', class:'logo-white')
    %p ©️team＿D70
