.top-page
  .top-page__contents
    %section.top-page__contents__title
      %h2.top-page__contents__title__font
      %p.top-page__contents__title__text
      .top-page__contents__title__btn
        =link_to image_tag("Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg",class: "top-page__contents__title__btn--banner"),"https://www.apple.com/jp/ios/app-store/",class:"top-page__contents__title__btn__store"
        =link_to image_tag("google-play-badge.png",class: "top-page__contents__title__btn--banner"),"https://play.google.com/store",class:"top-page__contents__title__btn__play"
    %section.top-page__contents__reason
    %section.top-page__contents__membership
    %section.top-page__contents__characteristic
    %section.top-page__contents__pickup--category
    %section.top-page__contents__pickup--brand    
    %aside.top-page__contents__download
.top-page__footer
%a.top-page__sell
