$white: #fff;
$light_gray: #888;
$dark_gray: #333;
$red: #ea352d;
$main_background_color: #f8f8f8;

$gray_color: #EEEEEE;
$white_color: #FFFFFF;
$lightgray_color: #d3d3d3;
$red_color: #FF0000;
$black_color: #000000;
$bule_color: #0000FF;

$main-lightgreen: #3CCACE;
$white-shadow:0 0 5px rgba(0,0,0,0.4);
$main-background: #f8f8f8;

