.input-top
  = render partial: '/template/input-top'
  
  .login-main
    .login-main__title
      お届け先住所入力
    .login-main__content
      .login-main__content__form

        .form-group
          お名前(全角)
          %span.required
            必須
          %br
          %input.default.half{type: "text", placeholder: "例）山田"}
          %input.default.half__right{type: "text", placeholder: "例）太郎"}

        .form-group
          お名前カナ(全角)
          %span.required
            必須
          %br
          %input.default.half{type: "text", placeholder: "例）ヤマダ"}
          %input.default.half__right{type: "text", placeholder: "例）タロウ"}

        .form-group
          郵便番号 
          %span.required
            必須
          %br           
          %input.default{type: "text", placeholder: "ーーー"} 

          .form-group
          -# 後に、都道府県を選べるようコードを書き換えてください
          都道府県 
          %span.required
            必須
          %br         
          %input.default{type: "select", placeholder: "選択してください"} 

          .form-group
            市区町村 
            %span.required
              必須
            %br            
            %input.default{type: "text", placeholder: "ーーー"}

          .form-group
            番地
            %span.required
              必須
            %br             
            %input.default{type: "text", placeholder: "ーーー"} 

          .form-group
            マンション名など部屋号室
            %span.any
              任意
            %br           
            %input.default{type: "text", placeholder: "ーーー"} 

          .form-group
            電話番号
            %span.any
              任意
            %br
            %input.default{type: "tel", placeholder: "ーーー"} 

        .form-group
          %p.info-text__end 「登録する」のボタンを押すことにより、利用規約に同意したものとみなします
          %input.submit{type: "submit", value: "登録する"}  

  .login-footer
    = render partial: '/template/input-bottom'