.main_logout
  .logout__display
    = link_to "ログアウト", "#",class: 'logout__display__btn'
    -# = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout__display__btn'
    -# マージ後にdevise導入後上記の記述にする予定です。