%body
  %header
    %h1
      %a{:href => "/"} deploytest
    %nav.test
      %ul
        %li
          %a{:href => "#"} test
        %li
          %a{:href => "#"} test
        %li
          %a{:href => "#"} test
        %li
          %a{:href => "#"} test
