.main_card{
  float: right;
  width: 700px;
  .card_display{
    background-color: $white;
    height: 250px;
    &__header{
      font-size: 24px;
      padding: 8px 24px;
      text-align: center;
      border-bottom: 1px solid $white;
    }
    &__body{
      padding: 64px;
      &__inner{
        width: 320px;
        height: 50px;
        background-color: $red;
        margin: 0 auto;
        text-align: center;
        .fa-credit-card{
          display: inline-block;
          margin-right: 16px;
          color: $white;
        }
        &__btn{
          display: inline-block;
          color: $white;
          text-decoration: none;
          font-size: 14px;
          line-height: 50px;
          
        }
      }
    }
  }
}