.main_menu{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  .menu__nav{
    &__list{
      &__item{
        width: 280px;
        height: 49px;
        list-style: none;
        &__link{
          position: relative;
          width: 280px;
          height: 48px;
          background-color: $white;
          display: block;
          text-decoration: none;
          color: black;
          line-height: 48px;
          font-size: 14px;
          padding-left: 16px;
          .fa-chevron-right {
            position: absolute;
            top: 35%;
            right: 16px;
            color: $light_gray;
          }
        }
      }
    }
    &__head{
      width: 280px;
      height: 16px;
      font-size: 16px;
      margin: 40px 0 8px;
    }
  }
}