.header
  -# = render partial: '/template/header'
  -# ヘッダー、フッターの記述はマージ後に解除予定

.wrapper
  %main.new_card
    =render "shared/new_card"
    =render "shared/mypage_menu"

.footer
  -# = render partial: '/template/footer'
  -# ヘッダー、フッターの記述はマージ後に解除予定
