@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "home";
@import "footer";

*{
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

