@import "reset";
@import "mixin/clearfix";
@import "config/color";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "config/iwamoto-colour";
@import "mixin/iwamoto-mixin";
@import "modules/input";
@import "modules/users";
@import "modules/user-login";
@import "header";
@import "home";
@import "footer";
@import "modules/products-buy";
@import "modules/product-form";
@import "modules/show";
@import "modules/mypage_contents";
@import "modules/mypage_menu";
@import "modules/mypages";
@import "modules/logout_menu";
@import "modules/logouts";
@import "modules/_card_menu";
@import "modules/new_card";
@import "modules/cards";

*{
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
