.header
  -# = render partial: '/template/header'
  -# ヘッダー、フッターの記述はマージ後に解除予定

.wrapper
  %main.logout
    =render "shared/logout_menu"
    =render "shared/mypage_menu"

.footer
  -# = render partial: '/template/footer'
  -# ヘッダー、フッターの記述はマージ後に解除予定